
#root {
  margin: 0 auto;
  text-align: center;
}

.options-container {
  display: flex;
  flex-direction: column;
}

/* Add responsive styles for larger screens */
@media (min-width: 1280px) {
  .options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
